section#hero{
    height:auto !important;
}

#regForm {
    background-color: #ffffff;
    margin: 100px auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    color: black !important;
    border-radius: 20px;
    box-shadow: 20px;
  }

#regForm h1{
    color: #4A001F !important;
    font-size: 3rem;
}
  
  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa !important;


    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
    padding: 10px;
    width: 100%;
    
    margin-top: 0.5rem !important;
 
  }

  
  select {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    padding-top: 0.5rem;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }

  /* Money input  */
  
  .input-icon {
    background: #ddd;
  }
  
  .input-with-icon {
    border: none;
    flex: 1;
    width: 90%;
  }
  
  .input-icon, .input-with-icon {
    padding: 10px;
  }
  

  
  /* Mark input boxes that gets an error on validation: */
  select.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4A001F;
  }



  .BtnCargarData:hover{
    opacity: 0.5;
  }

  .BtnBorrar:hover{
    opacity: 0.5;
  }

  /*    BUTTONS PREVIOUS & NEXT */
  #nextBtn {
    background-color: #4A001F;
    color: #fff !important;
    padding: 0.5rem 1rem;   
    border: none;
    outline: none;
    border-radius: 10px;
    font-size:  1rem;
    font-weight: bold;
    cursor: pointer;
  }
  #nextBtn:hover {
    /* scale: 1.05; */
    color: #fff;
    opacity: 0.5;
}

  #nextBtn:active {
    scale: 0.95;
}

#prevBtn {
  border-width: 1px;
  background-color: white; 
  border-color: #4A001F;
  color: #4A001F !important;
  padding: 0.5rem 1rem;   
  outline: none;
  border-radius: 10px;
  font-size:  1rem;
  font-weight: bold;
  cursor: pointer;
}
#prevBtn:hover {
  /* scale: 1.05; */
  color: #fff;
  opacity: 0.5;
}

#prevBtn:active {
  scale: 0.95;
}


.loadCookiesBtn {
  background-color: white;
  border-color: #4A001F !important;
  color: #4A001F !important;
  padding: 0.5rem 1rem;   
  outline: none;
  border-radius: 10px;
  font-size:  1rem;
  font-weight: bold;
  cursor: pointer;
}
.loadCookiesBtn:hover {
  /* scale: 1.05; */
  color: #fff;
  opacity: 0.5;
}

.loadCookiesBtn:active {
  scale: 0.95;
}
#loadDataBtn{
  background-color: #4A001F;
  color: #fff !important;
  padding: 0.5rem 1rem;   
  border: none;
  outline: none;
  border-radius: 10px;
  font-size:  1rem;
  font-weight: bold;
}

#saveLeave{
  background-color: #4A001F;
    color: #fff ;
    padding: 0.5rem 1rem;   
    border: none;
    outline: none;
    border-radius: 10px;
    font-size:  1rem;
    font-weight: bold;
    cursor: pointer;
}

/* Estilos de las alertas */
.alerta {
    border-radius: 15px;
    background-color: white;
    color: #000 !important;
    border: 2px solid;
    border-color: #4A001F;
}

.titulo {
    color: black;
    font-size: 18px;
}

.boton-confirmar {
    background-color: #4A001F !important;
    color: white;
    border-radius: 10px;
}

.boton-cancelar {
    background-color: white !important;
    color: #4A001F !important;
    border-color:#4A001F !important;
    border-radius: 10px;
    border: 2px solid;
}

.iconalert{
    color: #4A001F !important;
    border-color: #4A001F !important;
}

/* //////////////// */ 
.alertaDone {
    border-radius: 15px;
    background-color: white;
    color: #000 !important;
    border: 2px solid;
    border-color: #4A001F;
}

.tituloDone {
    color: black;
    font-size: 18px;
}

.iconalertDone{
  color: #4A001F !important;
  border-color: #4A001F !important;
}


  /************************************** */
  /* Autocomplete Items   */

  
  /*the container must be positioned relative:*/
  .autocomplete {
    position: relative;
   /* display: inline-block; */
  }
  
  #inputCiudades {
    border: 1px solid transparent;
    background-color: white;
    
  }
  

  .tab p {
    padding-top: 0.5rem;
  }

  .tab textarea{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa !important;


    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
    padding: 10px;
    width: 100%;
    
    margin-top: 0.5rem !important;
  }

  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    /*top: 100%;*/
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }

  .middleInputWidth {
    width: 40% !important;
    display: table-cell;
    padding-left: 3rem;
    color: black !important;
    text-align: initial;
  }


  @media (max-width: 576px) {
    .middleInputWidth {
      display: inline;
    }
  }


  /* Estilo para la seccion de recibos */
  .tab.recibo div{
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .tab.recibo p{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tab.recibo span{
    background-color: transparent;
  }

  .tab.autocomplete p#signo{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tab.autocomplete span{
    background-color: transparent;
  }

  .tab.gastosC p#signo{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
  }

  .tab.gastosC span{
    background-color: transparent;
  }

  .btnComisionsi{
    color: white;
    background-color: #4A001F;
    border-radius: 10px;
    width: 100px;
}
.btnComisionno{
  color: white;
  background-color: #4A001F;
  border-radius: 10px;
  width: 100px;
}

/*Estilos para botones de pds*/
  .buttonPDFGenerator{
    color: white;
    background-color: #4A001F;
    border-radius: 10px;
  }

/* Estilos para la seccion comision*/
.tab.comision p{
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.tab.comision span{
  background-color: transparent;
}

/*Estilos para la comision*/
.fechas{
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.btnAgregar{
  color: white;
  background-color: #4A001F;
  border-radius: 10px;
  margin-top: 2%;
  padding: 0.5%;
  width: 20%;
}

.btnLimpiarC{
  color: white;
  background-color: #4A001F;
  border-radius: 10px;
  margin-top: 2%;
  padding: 0.5%;
  width: 20%;
}

  /*   ICON PDF */
  .icons {
    display: inline-block;
    margin: 0 auto;
  }
  .icon {
    display: inline-block;
    width: 40px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
    position: relative;
    margin: 0 5px;
 }
  .icon::after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-radius: 0 2px;
    transition: all 0.2s linear;
    backface-visibility: hidden;
 }

  .icon--pdf {
    background-color: #db4437;
 }
  .icon--pdf::after {
    background: linear-gradient(45deg, #e78178 50%, #fff 50%);
 }
  .icon--pdf i::before {
    content: '☵';
 }
 
  .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 10px;
    color: #fff;
    font-weight: 500;
 }
  .icon i::before, .icons i::after {
    display: block;
    transition: all 0.2s linear;
 }
  .icon i::before {
    text-align: center;
    font-size: 12px;
    opacity: 0; 
    transform: translateY(5px);
 }
  .icon i::after {
    content: attr(title);
    transform: translateY(-5px);
 }
  .icon:hover {
    border-radius: 2px 4px 2px 2px;
 }
  .icon:hover::after {
    width: 12px;
    height: 12px;
 }
  .icon:hover i::before {
    transform: translateY(0);
    opacity: 1;
 }
  .icon:hover i::after {
    transform: translateY(0);
 }



 /* IFRAME  */

 #frame1 {
  width: 100%;
  height: 0px;
  border: 0px;
}
#frame2 {
  width: 100%;
  height: 0px;
  border: 0px;
}
#frame3 {
  width: 100%;
  height: 0px;
  border: 0px;
}
#frame4 {
  width: 100%;
  height: 0px;
  border: 0px;
}
#frame5 {
  width: 100%;
  height: 0px;
  border: 0px;
}



/*
#frame1 {
  zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0;
}

*/

/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  #frame1 {
    zoom: 1;
  }
}
*/


div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding: 1px;
  width: 1000%;
}

.table-title h3 {
  color: #fafafa;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto", helvetica, arial, sans-serif;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

/*** Table Styles **/

.table-fill {
  background: white;
  border-radius: 3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
 /* max-width: 600px;
  width: 100%; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    */
  padding: 2px;
  

  animation: float 5s infinite;
}

th {
  color: black;
  background: #ffffff;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size: 2vh;
  font-weight: 100;
  padding: 0.2rem 1.5rem;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 3px;
}

th:last-child {
  border-top-right-radius: 3px;
  border-right: none;
}

tr {
  border-top: 1px solid #c1c3d1;
  border-bottom: 1px solid #c1c3d1;
  color: #666b85;
  font-size: 1vh;
  font-weight: normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
  background: #8b8c995a;
  color: #ffffff;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #ebebeb;
}

tr:nth-child(odd):hover td {
  background: #8b8c9d;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #ffffff;
  padding: 10px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #c1c3d1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-left a{
  color: #666b85;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}




/* Mantener la estructura interna de la card siempre igual */
.car-card {
    height: 100%; /* asegura que la tarjeta ocupe toda la altura del contenedor */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.car-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.car-card .card-title {
    min-height: 1.5rem; /* asegura altura fija del título */
}

.car-card .text-muted {
    min-height: 1.2rem; /* asegura altura fija para las placas */
}

.car-card button.btn {
    margin-top: auto; /* lo empuja hacia el final de la card-body */
}

.card-body .text-muted {
    padding-left: 0 !important;
    margin-left: 0 !important;
    display: block;
    width: 100%;
}

.card-title {
  text-align: left !important;
  min-height: 2.5rem; /* Establece altura mínima para 1 o 2 líneas */
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: normal; /* Permite varias líneas */
  margin-bottom: 0.5rem;
}


.card-body .d-flex > div {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.card-body .text-muted {
  padding-left: 0 !important;
  margin-left: 0 !important;
  text-align: left !important;
}


#selectedVehicleTitle {
  padding-left: 8px;
  margin: 0;
  text-align: left;
}

#selectedVehicleDetails,
.selected-vehicle-details, /* en caso de que tenga clase adicional */
.text-muted.mb-0 {
  padding-left: 12px !important;
  margin: 0 !important;
  text-align: left;
}

